<html>
    <head>
        <title>Local Shoe Stores and Brands</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Local Shoe Stores &#38 Brands</h1>
            <p><a href='/brands'>List of All Brands</a></p>
            <p><a href='/stores'>List of All Stores</a></p>
        </div>
    </body>
</html>
